<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/application.js"></script>
</head>
<body ng-app="pizzaStore" ng-controller="pizzaSelector">
  <div>
    <ul ng-repeat="pizza in pizzaInventory">
      <li>{{pizza.name}} - {{pizza.price}}
        <label ng-repeat="p in pizza.prices">
          <input type="radio" ng-value="p" ng-model="pizza.selectedSize">{{p.size}} - {{p.price}} INR
        </label>
        <button ng-disabled="pizza.selectedSize == undefined" ng-click="order.addPizza(pizza)">Add</button>
      </li>
    </ul>
  </div>

  <div ng-show="order.items.length > 0">
    <h1>Your order is</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Price</th>
      </thead>
    <tbody>
      <tr ng-repeat="item in order.items track by $index">
        <td>{{item.name}}</td>
        <td>{{item.selectedSize.price}}</td>
      </tr>
      </tbody>
    </table>
    <div>Total : {{order.total()}}</div>
  </div>
</body>
</html>
